@inherits LayoutComponentBase

<div class="content vh-100 bg-dark-teal">
    @* <div class="sidebar">  *@
    @*     <NavMenu />  *@
    @* </div> *@
    @* <main> *@
        @* <article class="content vh-100 bg-dark-teal"> *@
            @Body
        @* </article> *@
    @* </main> *@
</div>
