@page "/listmachines"

@using SmartVendApp.Models
@using SmartVendApp.Controllers;
@using SmartVendApp.ServiceReference;

@inject MachineController MachineController
@inject VendingService VendingService

<h3>Lista Maszyn</h3>