@page "/menu"
@using SmartVendApp.ServiceReference
@inject VendingService VendingService
@inject NavigationManager NavigationManager

<div class="container-fluid d-flex flex-column h-100 p-0 m-0">
    <div class="row flex-grow-1 d-flex align-items-start mb-3">
        <div class="col-12 text-center">
            <img src="content/SmartVendLogo.png" alt="Logo" class="Logo"/>
        </div>
    </div>

    <div class="row flex-grow-1 m-0 position-relative" style="overflow-y: scroll; scrollbar-width: none;">
        <div class="col p-0 h-100">
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToMap">Mapa</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToWarehouseGoods">Magazyn towary</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToVehicles">Pojazdy</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToEmployees">Pracownicy</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToMachines">Dostawcy</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToLocations">Lokalizacje</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToWarehouses">Magazyny</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToProducts">Towary</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToCarRepairShop">Warsztaty</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToRoutes">Trasy</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToWorkstations">Stanowiska pracy</button>
            </div>
            <div class="col-12 my-1">
                <button type="button" class="main-button w-100 mb-3" @onclick="NavigateToInvoices">Faktury</button>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12 my-4">
            <a href="#" @onclick="Logout">Wyloguj się</a>
        </div>
    </div>
</div>

@code {
    private void NavigateToMap() => NavigationManager.NavigateTo("/mapa");
    private void NavigateToWarehouseGoods() => NavigationManager.NavigateTo("/magazynTowary");
    private void NavigateToVehicles() => NavigationManager.NavigateTo("/pojazdy");
    private void NavigateToEmployees() => NavigationManager.NavigateTo("/pracownicy");
    private void NavigateToMachines() => NavigationManager.NavigateTo("/dostawcy");
    private void NavigateToLocations() => NavigationManager.NavigateTo("/lokalizacje");
    private void NavigateToWarehouses() => NavigationManager.NavigateTo("/magazyny");
    private void NavigateToProducts() => NavigationManager.NavigateTo("/towary");
    private void NavigateToCarRepairShop() => NavigationManager.NavigateTo("/warsztaty");
    private void NavigateToRoutes() => NavigationManager.NavigateTo("/trasy");
    private void NavigateToWorkstations() => NavigationManager.NavigateTo("/stanowiskapracy");
    private void NavigateToInvoices() => NavigationManager.NavigateTo("/faktury");

    private void Logout()
    {
        NavigationManager.NavigateTo("/");
    }
}