@page "/password"

@inject NavigationManager NavigationManager

<div class="container-fluid d-flex flex-column h-100 text-center">
    <div class="row flex-grow-1 d-flex align-items-start">
        <div class="col-12">
            <img src="content/SmartVendLogo.png" alt="Logo" />
        </div>
    </div>
    <div class="row mb-5 pb-3">
        <div class="col-12">
            <img src="content/avatar.png" alt="Avatar" class="rounded-pill mb-3 avatar" />
            <h2>Witaj, Mateusz!!!</h2>
        </div>
    </div>
    <div class="row mb-5 pb-3">     
        <div class="col-12 mb-4">
            <div class="input-group has-validation">
                <input type="password" id="password" class="form-control rounded-pill ps-4 p-3 @passwordInputErrorClass" placeholder="Wpisz swoje hasło" required @bind="password" />
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="invalid-tooltip">
                        @errorMessage
                    </div>
                }
            </div>
        </div>
        <div class="col-12 my-4">
            <button type="submit" class="main-button w-100 mb-3" @onclick="HandleLogin">Dalej</button>
            <a href="#">Wróć</a>
        </div>
    </div>
   
</div>


@code {
    private string password = string.Empty;
    private string errorMessage = string.Empty;

    private string passwordInputErrorClass => string.IsNullOrEmpty(errorMessage) ? "" : "is-invalid";

    private void HandleLogin()
    {
        if (password == "1234")
        {
            NavigationManager.NavigateTo("/menu");
        }
        else
        {
            errorMessage = "Niepoprawne hasło, spróbuj ponownie.";
        }
    }
    private void NavigateToCounter()
    {
        NavigationManager.NavigateTo("/password");
    }
}