<div class="form-group">
    <label>@Label</label>
    <InputText class="form-control" @bind-Value="Value" />
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
}